<div class="bccontainer">
    <div class="row dark-color">
        <div class="col">
            <strong>Add Your Hobbies</strong>
        </div>
        <div class="col">
            <strong>Your Hobby List ({{itemCount}})</strong>
        </div>
    </div>
    <div class="row light-color" [@hobbies]="hobbies.length">
            <div class="col">
                <p>Use this form to add your hobbies</p>
                <form class="myform">
                    <input placeholder="Your Hobby" name="hobby" #hobby [(ngModel)]="hobbyText" class="form-control" type="text"/><br/><br/>
                    <input class="btn btn-warning" type="submit" (click)="addHobbies()" [value]="btnText" value="Add Hobby"/>
                </form>
            </div>
            <div class="col hobby-list">
                <div *ngFor="let hobby of hobbies, let i=index">
                    <span>{{hobby}}</span><strong (click)="deleteHobby(i)">X</strong>
                </div>
            </div>
        </div>
    </div>